body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.valign-wrapper {
  margin: 0px;
	padding:0px;
	float: left;
	width:90%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.material-icons {
  vertical-align: -3px; 
}

.preloader-wrapper {
  height: 30px !important;
  width: 30px !important;
  vertical-align: middle;
}

.forgotPassword {
  background: none;
  border: none;
  height: 24px;
  line-height: 24px;
  padding: 0 0rem;
  font-size: 13px;
  box-shadow: none;
  text-transform: capitalize;
}
.forgotPassword:hover{ background: none; border: none; box-shadow: none;}
.forgotPassword:active{ background: none; border: none; box-shadow: none;}
.forgotPassword:focus{ background: none; border: none; box-shadow: none;}
.forgotPassword:visited{ background: none; border: none; box-shadow: none;}

/* .confirmPassword label {
  color: red !important;
} */
 /* label focus color */
 .confirmPassword input:focus + label {
  color: red !important;
}
/* label underlineh focus color */
.confirmPassword input {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

/* 
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 50%;
  left:70%;  
} */